<main id="tac" class="p-6 text-gray-700">
  {{> breadcrumbs }}

  <h1 class="text-3xl font-bold mb-4">Syarat dan Ketentuan Penggunaan</h1>
  <p>Dibuat : 14-04-2024</p>
  <h2 class="text-lg my-4 font-semibold">Pembelian Tiket</h2>
  <ol>
    <li>
      Saat Anda melakukan pembelian tiket melalui situs web kami, pembayaran akan diproses dan masuk
      ke dalam kas kami.
    </li>
    <li>
      Setelah pembelian berhasil, Anda akan menerima email konfirmasi dengan nomor Order ID sebagai
      bukti pembelian.
    </li>
    <li>
      Dalam status pembelian yang telah terbayar atau <b><i>Settlement</i></b
      >, pembelian tiket tidak dapat dibatalkan atau diubah kecuali dalam keadaan tertentu yang
      diatur dalam ketentuan pengembalian dana. Pembatalan hanya dapat anda lakukan setelah memilih
      metode pembayaran pada halaman order.
    </li>
  </ol>

  <h2 class="text-lg my-4 font-semibold">Pengembalian Dana</h2>
  <ol>
    <li>
      Pengembalian dana hanya dapat diajukan jika acara yang Anda beli tiketnya dibatalkan oleh
      penyelenggara. Anda harus menunjukkan bukti tiket dan email konfirmasi pembelian yang
      mencantumkan nomor Order ID.
    </li>
    <li>
      Pengembalian dana dilakukan setelah kami menerima pengajuan dan verifikasi yang diperlukan.
      Proses pengembalian dapat memakan waktu hingga 14 hari kerja.
    </li>
    <li>Pengembalian dana dilakukan ke metode pembayaran yang Anda gunakan saat pembelian.</li>
  </ol>

  <h2 class="text-lg my-4 font-semibold">Peran Kami sebagai Perantara</h2>
  <ol>
    <li>
      Kami bertindak sebagai perantara antara pembeli tiket dan penyelenggara acara atau vendor.
      Setiap pembelian tiket akan masuk ke dalam kas kami sebelum disalurkan kepada vendor setelah
      acara selesai.
    </li>
    <li>
      Kami tidak bertanggung jawab atas perubahan jadwal, pembatalan, atau masalah lain yang timbol
      dari pihak penyelenggara acara atau vendor.
    </li>
  </ol>

  <h2 class="text-lg my-4 font-semibold">Penjualan Tiket oleh Vendor</h2>
  <ol>
    <li>
      Vendor dapat menjual tiket secara online melalui platform kami. Untuk penjualan offline,
      vendor harus menghubungi kami untuk persyaratan lebih lanjut.
    </li>
    <li>
      Vendor bertanggung jawab atas informasi yang disediakan dan kelancaran acara yang
      diorganisasikan.
    </li>
  </ol>

  <h2 class="text-lg my-4 font-semibold">Penggunaan Situs Web</h2>
  <ol>
    <li>
      Anda setuju untuk menggunakan situs web kami hanya untuk tujuan yang sah dan sesuai dengan
      syarat dan ketentuan ini.
    </li>
    <li>
      Anda tidak diperkenankan menggunakan situs web kami untuk tujuan ilegal atau yang melanggar
      hukum.
    </li>
    <li>
      Dilarang keras melakukan tindakan uji beban atau stres terhadap sistem kami tanpa izin
      tertulis dari kami. Hal ini termasuk, namun tidak terbatas pada, melakukan serangan DDoS
      (Distributed Denial of Service) atau membanjiri situs web kami dengan permintaan yang
      berlebihan. Segala upaya untuk menguji kekuatan atau kerentanan sistem kami harus dilakukan
      dengan persetujuan tertulis dari tim teknis kami.
    </li>
    <li>
      Dilarang keras menggunakan layanan kami untuk tujuan ilegal atau merugikan, termasuk namun
      tidak terbatas pada penyebaran konten ilegal, penipuan, atau tindakan yang melanggar hak
      privasi atau kekayaan intelektual orang lain. Kami berhak untuk mengambil tindakan yang
      diperlukan terhadap setiap pelanggaran kebijakan ini, termasuk namun tidak terbatas pada
      penangguhan atau penghapusan akun.
    </li>
  </ol>

  <h2 class="text-lg my-4 font-semibold">Kebijakan Privasi</h2>
  <p>
    Kami menghargai kepercayaan Anda dalam memberikan data pribadi Anda kepada kami. Kebijakan
    privasi ini menjelaskan bagaimana kami mengumpulkan, menggunakan, dan melindungi informasi yang
    Anda berikan kepada kami saat menggunakan layanan kami.
  </p>

  <h2 class="text-lg my-4 font-semibold">Kebijakan Penggunaan Cookie</h2>
  <p>
    Situs web kami menggunakan cookie untuk meningkatkan pengalaman pengguna. Cookie adalah file
    kecil yang disimpan di perangkat Anda untuk mengingat informasi tentang preferensi Anda dan
    mengenali Anda saat Anda kembali ke situs web kami.
  </p>
  <p>
    Anda dapat mengatur preferensi cookie Anda melalui pengaturan browser Anda. Namun, mematikan
    cookie dapat memengaruhi fungsionalitas situs web kami.
  </p>
  <p>
    Dengan menggunakan situs web kami, Anda setuju untuk penggunaan cookie sesuai dengan kebijakan
    ini.
  </p>
</main>
