<main class="flex flex-col items-center px-6 py-8 mx-auto">
  <div
    class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8"
  >
    <h2
      class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
    >
      Reset Password
    </h2>
    <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" id="forget-password-form">
      <div class="hidden">
        <input
          type="text"
          id="email"
          placeholder="••••••••"
          required=""
          value="{{ email }}"
          disabled
          hidden
        />
      </div>
      <div class="hidden">
        <input
          type="text"
          id="token"
          placeholder="••••••••"
          required=""
          value="{{ token }}"
          disabled
          hidden
        />
      </div>
      <div>
        <label
          for="new-password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Password baru</label
        >
        <input
          type="password"
          id="new-password"
          class="input-styled"
          placeholder="••••••••"
          required=""
        />
      </div>
      <div>
        <label
          for="confirm-password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Konfirmasi Password baru</label
        >
        <input
          type="password"
          class="input-styled"
          id="confirm-password"
          placeholder="••••••••"
          required=""
        />
      </div>
      <button type="submit">Ubah</button>
    </form>
  </div>
</main>
<script src="/script/credential/forget-password.js"></script>
