<main class="flex flex-col items-center px-6 py-8 mx-auto lg:py-0">
  <div
    class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 dark:bg-gray-800 dark:border-gray-700 sm:p-8"
  >
    <h2
      class="mb-4 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
    >
      Reset Password
    </h2>
    <form class="space-y-3" id="reset-password-form">
      <div class="flex flex-col gap-2 sm:flex-row">
        <div class="w-full relative">
          <label for="user-id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >ID Akun</label
          >
          <input
            type="text"
            id="user-id"
            placeholder="Masukan ID Akun"
            required=""
            autocomplete="off"
          />
          <ul id="customer-suggestion" class="suggestion-box hidden"></ul>
        </div>
        <div class="w-full">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Password baru</label
          >
          <input
            type="password"
            id="password"
            placeholder="••••••••"
            class="input-styled"
            required=""
          />
        </div>
        <div class="w-full">
          <label
            for="conf-password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Konfirmasi password baru</label
          >
          <input
            type="password"
            id="conf-password"
            placeholder="••••••••"
            class="input-styled"
            required=""
          />
        </div>
      </div>
      <div class="flex justify-end">
        <button type="submit">Ubah</button>
      </div>
    </form>
  </div>
</main>
<script src="/script/dashboard/offline/suggestion-box.js"></script>
<script src="/script/dashboard/credential/reset-password.js"></script>
