<main class="container">
  {{> breadcrumbs }}

  <h2 class="styled-h2 !my-5">
    Daftar
    <span
      class="underline underline-offset-2 decoration-4 decoration-primary-400 dark:decoration-primary-600"
      >Ticket :
    </span>
  </h2>
  <div id="ticket-list">
    <div class="w-full text-center p-8 border border-gray-300 rounded-lg col-span-full">
      <p>Kamu belum memiliki tiket apapun</p>
    </div>
  </div>
</main>

<script src="/script/tickets/tickets.js"></script>
