{{!-- Compatible with event-detail --}}

<div class="drawer-btn">
  <button
    type="button"
    class="w-full"
    data-drawer-target="floating-drawer"
    data-drawer-show="floating-drawer"
    aria-controls="floating-drawer"
  >
    Buy Ticket
  </button>
</div>

{{!-- Drawer --}}
<div
  id="floating-drawer"
  class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800"
  tabindex="-1"
  aria-labelledby="floating-drawer-label"
>
  <button
    data-drawer-hide="floating-drawer"
    aria-controls="floating-drawer"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-2 absolute top-3 start-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 256 256">
      <path
        fill="currentColor"
        d="M228 128a12 12 0 0 1-12 12H69l51.52 51.51a12 12 0 0 1-17 17l-72-72a12 12 0 0 1 0-17l72-72a12 12 0 0 1 17 17L69 116h147a12 12 0 0 1 12 12"
      />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  {{!-- Main Content --}}
  <div class="main"></div>
</div>
