<footer id="footer" class="p-4 bg-primary-600 md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
    <a href="#" class="flex justify-center items-center text-2xl font-semibold text-white">
      <img src="/logo.png" class="w-36" alt="Kita Loket" />
    </a>
    <ul class="flex flex-wrap justify-center text-center items-center my-6 text-white">
      <li>
        <a href="#" class="p-2 hover:underline">Tentang</a>
      </li>
      <li>
        <a href="#" class="p-2 hover:underline">Biaya</a>
      </li>
      <li>
        <a href="#" class="p-2 hover:underline">Buat Event</a>
      </li>
      <li>
        <a href="/tac" class="p-2 hover:underline">Syarat dan Ketentuan</a>
      </li>
      <li>
        <a href="https://wa.me/6282242323446" target="_blank" class="p-2 hover:underline"
          >Whatsapp</a
        >
      </li>
    </ul>
    <span class="text-sm text-gray-300 sm:text-center"
      >© 2024 <a href="#" class="hover:underline">Kita Loket</a>. All Rights Reserved.</span
    >
  </div>
</footer>
