<section
  class="bg-center bg-no-repeat bg-cover bg-[url('/assets/crowds.webp')] bg-primary-600 bg-blend-multiply w-full max-h-96 overflow-hidden rounded-lg"
>
  <div class="mx-auto text-center py-10 md:py-24 px-8">
    <h1 class="mb-8 text-3xl font-extrabold tracking-normal text-white md:text-5xl lg:text-6xl">
      Book your favorite events
    </h1>
    <div>
      {{> search-bar }}
    </div>
  </div>
</section>
