<section
  class="bg-fixed bg-no-repeat bg-cover bg-[url('/assets/crowds.webp')] bg-primary-600 bg-blend-multiply h-2/3 flex flex-col justify-center items-center p-4 px-12"
>
  <div class="mx-auto text-center">
    <h1
      class="mb-8 max-w-[500px] text-4xl sm:text-[2.8rem] font-extrabold leading-none tracking-tight text-white smd:text-6xl"
    >
      Pesan tiket event
      <span
        class="underline underline-offset-3 decoration-8 decoration-primary-400 dark:decoration-primary-600"
        >favorit kamu!</span
      >
    </h1>
    <div>
      {{> search-bar }}
    </div>
  </div>
</section>
