<div class="hidden smd:block z-10 absolute -top-[1px] left-32 h-[102%] w-10 overflow-hidden">
  <div class="absolute top-0 left-5 h-full border-r-4 border-dotted border-gray-100"></div>
  <div
    class="absolute -top-1 w-10 h-10 bg-gray-100 border border-primary-500 rounded-b-full -mt-6"
  ></div>
  <div
    class="absolute -bottom-1 w-10 h-10 bg-gray-100 border border-primary-500 rounded-t-full -mb-6"
  ></div>
</div>
