{{> jumbotron }}
<div class="flex flex-col gap-4 max-w-screen-xl mt-4 md:mt-0 mx-auto px-2 md:px-4">
  <div>
    <h2 class="styled-h2">
      Event
      <span class="sub">Terbaru : </span>
    </h2>
    {{> events }}
  </div>
</div>
<script src="/script/packages/smoothscroll.min.js" defer></script>
<script src="/script/home/home.js"></script>
