<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pesan tiket event favorit kamu" />
    <meta name="keywords" content="tiket, booking tiket Kutai Barat, kutai barat, pesan tiket" />
    <meta name="author" content="Kita Loket" />
    <link rel="stylesheet" href="/style/packages/toastify.min.css" />
    <link rel="stylesheet" href="/style/packages/flowbite.min.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <title>Kita Loket - {{{ title }}}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <script src="/script/packages/flowbite.min.js"></script>
  </head>
  <body>
    {{{ body }}}
    <script src="/script/packages/sweetalert2.all.min.js"></script>
    <script src="/script/toast.js"></script>
    <script src="/script/global.js"></script>
    <script src="/script/packages/toastify-js.js"></script>
  </body>
</html>
