<section class="bg-gray-50 dark:bg-gray-900 min-h-screen">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-40 mr-2" src="/logo-invers.png" alt="logo" />
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Buat akun
        </h1>
        <p class="text-sm font-light !mt-2 text-gray-500 dark:text-gray-400">
          Sudah punya akun?
          <a
            href="/login"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
            >Masuk di sini</a
          >
        </p>
        <div class="space-y-4" id="verification-form">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class=""
            placeholder="name@company.com"
            required=""
          />
          <button type="button" onclick="sendVerification()" class="w-full">Kirim Token</button>
        </div>
        <div class="space-y-4 hidden" id="verification-token">
          <label for="token" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Token</label
          >
          <p class="text-sm font-light !mt-2 text-gray-500 dark:text-gray-400">
            Kami telah mengirim token verifikasi ke emailmu.
          </p>
          <div id="input" class="flex gap-3">
            <input
              class="otp-input"
              id="token"
              autocomplete="off"
              type="text"
              inputmode="numeric"
              maxlength="6"
            />
          </div>
          <button type="button" onclick="verifyToken()" class="w-full">Verifikasi Token</button>
        </div>
        {{!-- MAIN FORM --}}
        <form class="space-y-4 hidden" id="main-form">
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Nama</label
            >
            <input
              type="text"
              name="name"
              id="name"
              class="input-styled"
              placeholder="Masukan namamu"
              required=""
            />
          </div>
          <div>
            <label
              for="birthdate"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Tanggal lahir</label
            >
            <input
              type="date"
              name="birthdate"
              id="birthdate"
              class="input-styled"
              placeholder="Masukan tanggal lahir"
              required=""
            />
          </div>
          <div>
            <label
              for="address"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Alamat</label
            >
            <input
              type="text"
              name="address"
              id="address"
              class="input-styled"
              placeholder="Masukan alamatmu"
              required=""
            />
          </div>
          <div>
            <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Jenis Kelamin</label
            >
            <select id="gender" class="input-styled">
              <option selected>-- SELECT --</option>
              <option value="male">Laki-laki</option>
              <option value="female">Perempuan</option>
            </select>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="input-styled"
              required=""
            />
          </div>
          <div>
            <label
              for="confirm-password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Konfirmasi password</label
            >
            <input
              type="password"
              name="confirm-password"
              id="confirm-password"
              placeholder="••••••••"
              class="input-styled"
              required=""
            />
          </div>
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="terms"
                aria-describedby="terms"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                required=""
              />
            </div>
            <div class="ml-3 text-sm">
              <label for="terms" class="font-light text-gray-500 dark:text-gray-300"
                >Saya setuju
                <a
                  class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                  href="#"
                  >Syarat dan ketentuan</a
                ></label
              >
            </div>
          </div>
          <button
            type="submit"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Daftar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="script/auth/register.js"></script>
